/* 最終確認画面 */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#final_confirmation.display_size {
    background-color: black;
    display: none;
}

#final_confirmation_said {
    position: absolute;
    width: 671px;
    height: 65px;
    top: 219px;
    left: 619px;
    font-size: 65px;
    color: white;
    user-select: none;
}

#final_confirmation_word {
    position: absolute;
    width: 1723px;
    height: 224px;
    top: 416px;
    left: 63px;
    font-size: 90px;
    color: white;
    text-align: center;
    user-select: none;
}

#final_confirmation_front {
    position: absolute;
    height: 65px;
    width: 518px;
    bottom: 56px;
    right: 38px;
    color: white;
    font-size: 65px;
    line-height: 1;
}

#final_confirmation_back {
    position: absolute;
    height: 65px;
    width: 748px;
    bottom: 56px;
    left: 10px;
    color: white;
    font-size: 65px;
    line-height: 1;
}