/* 敗北ED画面 */
* {
    margin: 0;
    padding: 0;
}

#lose_display_ED {
    background-color: seagreen;
    display: none;
}

#lose_display_ED_text {
    position: absolute;
    height: 456px;
    width: 1920px;
    top: 150px;
    left: 111px;
    color: white;
    font-size: 80px;
    line-height: 1;
    user-select: none;
}

#lose_display_ED_front {
    position: absolute;
    height: 38px;
    width: 450px;
    top: 928px;
    right: 114px;
    color: white;
    font-size: 39px;
    line-height: 1;
    cursor: pointer;
}