* {
    margin: 0;
    padding: 0;
}

/* あらすじ画面１ */
#OP_1 {
    position: relative;
    width: 1920px;
    height: 1080px;
    display: block;
    background-image: url("ゲーム素材/ゲーム素材/背景/summary-1.png");
}

#storyskip_1 {
    position: absolute;
    width: 448px;
    height: 39px;
    top: 20px;
    right: 123px;
    color: white;
    font-size: 39px;
    line-height: 1;
}

#story_1 {
    position: absolute;
    width: 1800px;
    height: 268px;
    top: 183px;
    left: 111px;
    color: white;
    font-size: 100px;
    line-height: 1;
}

#storyfront_1 {
    position: absolute;
    width: 287px;
    height: 38px;
    top: 1030px;
    right: 114px;
    color: white;
    font-size: 39px;
    line-height: 1;
}

#storyback_1 {
    position: absolute;
    height: 38px;
    width: 390px;
    top: 1030px;
    left: 111px;
    color: white;
    font-size: 39px;
    line-height: 1;
}

#story_bgm{
    display: none;
}