* {
    margin: 0;
    padding: 0;
}

<!--タイトル画面-->
#startscrean{
    position: relative;
    width: 1920px;
    height: 1080px;
    display: none;
    background-image: url("ゲーム素材/ゲーム素材/背景/title.png");
}

<!--タイトルテキスト-->
#startscrean_text{
    position: absolute;
    width: 1920px;
    height: 664px;
    top: 300px;
    left: 510px;
    font-size: 100px;
}