/* タイトル画面 */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

/* タイトル画面 */
#startscrean.display_size {
    display: block;
    background-image: url("game_material/game_material/ background/title.png");
}

/* タイトルテキスト */
#startscrean_text {
    position: absolute;
    width: 1000px;
    height: 100px;
    top: 300px;
    left: 510px;
    font-size: 100px;
}

/* スタートボタン */
#startscrean_botton {
    position: absolute;
    width: 650px;
    height: 100px;
    top: 797px;
    left: 600px;
    font-size: 80px;
    background-color: #99a6c990;
}

/*BGＭ*/
#start_bgm {
    display: none;
}