/* 単語選択画面-hard1 */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Hard1_japan.display_size {
    background-color: black;
    display: none;
}

/* 単語 */
.word_hard {
    position: absolute;
    height: 80px;
    width: 1306px;
    line-height: 80px;
    left: 41px;
    align-items: center;
    color: white;

    animation-name: border_color;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: white 1px;
    border-bottom: solid;

    cursor: pointer;
}
