/* 単語選択画面-hard1 */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Hard1.display_size {
    background-color: black;
    display: none;
}

/* 単語 */
.word_hard {
    position: absolute;
    height: 80px;
    width: 1306px;
    line-height: 80px;
    left: 41px;
    align-items: center;
    color: white;

    animation-name: border_color;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: white 1px;
    border-bottom: solid;

    cursor: pointer;
}

@keyframes border_color {
    0% {
      border-color: black;
    }
    50% {
      border-color: white;
    }
  
  }

/* 枠線 */
.border_wordchoice {
    position: absolute;
    width: 1542px;
    height: 772px;
    top: 167px;
    left: 189px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

/* 画像 */
.image_icon_hard {
    position: absolute;
    height: 140px;
    width: 140px;
    right: 45px;
}

#fire_hard.word_hard {
    top: 67px;
    font-size: 52px;
}

#img_fire_hard.image_icon_hard {
    top: 50px;
}

#can_read_japanese_fire_Hard {
    top: 50px;
}

#water_hard.word_hard {
    top: 206px;
    font-size: 52px;
}

#img_water_hard.image_icon_hard {
    top: 188px;
}

#can_read_japanese_water_Hard {
    top: 185px;
}

#grass_hard.word_hard {
    top: 345px;
    font-size: 52px;
}

#img_grass_hard.image_icon_hard {
    top: 326px;
}

#can_read_japanese_grass_Hard {
    top: 325px;
}

#thunder_hard.word_hard {
    top: 484px;
    font-size: 45px;
}

#img_thunder_hard.image_icon_hard {
    top: 484px;
}

#can_read_japanese_thunder_Hard {
    top: 465px;
}

#ice_hard.word_hard {
    top: 622px;
    font-size: 52px;
}

#img_ice_hard.image_icon_hard {
    top: 622px;
}

#can_read_japanese_ice_Hard {
    top: 605px;
}

#wordchoice_Hard1_front {
    position: absolute;
    height: 65px;
    width: 582px;
    top: 992px;
    right: 65px;
    color: white;
    font-size: 65px;
    line-height: 1;
}