/* 単語選択画面 */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Normal.display_size {
    background-color: gray;
    display: none;
}

/* 単語を選んでね */
.please_wordchoice {
    position: absolute;
    height: 78px;
    width: 832px;
    top: 70px;
    left: 616px;
    font-size: 60px;
}

/* 単語 */
.word_normal {
    position: absolute;
    height: 70px;
    width: 574px;
    font-size: 70px;
    line-height: 1;
}

/* 枠線 */
.border_wordchoice {
    position: absolute;
    width: 1542px;
    height: 772px;
    top: 167px;
    left: 189px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

#fire_normal.word_normal {
    top: 67px;
    background-color: palevioletred;
    left: 11px;
}

#water_normal.word_normal {
    top: 206px;
    background-color: paleturquoise;
    left: 11px;
}

#grass_normal.word_normal {
    top: 345px;
    background-color: palegreen;
    left: 11px;
}

#thunder_normal.word_normal {
    top: 484px;
    background-color: palegoldenrod;
    left: 11px;
}

#ice_normal.word_normal {
    top: 622px;
    background-color: lightcyan;
    left: 11px;
}

#wind_normal.word_normal {
    top: 67px;
    background-color: honeydew;
    right: 190px;
}

#rock_normal.word_normal {
    top: 206px;
    background-color: tan;
    right: 190px;
}

#poison_normal.word_normal {
    top: 345px;
    background-color: #4b008270;
    right: 190px;
}

#light_normal.word_normal {
    top: 484px;
    background-color: ivory;
    right: 190px;
}

#darkness_normal.word_normal {
    top: 622px;
    background-color: #00008070;
    right: 190px;
}