/* 単語選択画面-normal */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Normal_japan.display_size {
    background-color: black;
    display: none;
}

/* 単語を選んでね */
.please_wordchoice_japan {
    position: absolute;
    height: 78px;
    width: 1200px;
    top: 70px;
    left: 460px;
    font-size: 60px;
    color: white;
    user-select: none;
}

/* 単語 */
.word_normal {
    position: absolute;
    height: 70px;
    width: 574px;
    font-size: 70px;
    line-height: 1;
    color: white;

    animation-name: border_color;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: white 1px;
    border-bottom: solid;

    cursor: pointer;
}
