/* 単語選択画面 */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Hard.display_size {
    background-color: gray;
    display: block;
}

/* 単語を選んでね */
.please_wordchoice {
    position: absolute;
    height: 78px;
    width: 832px;
    top: 70px;
    left: 616px;
    font-size: 60px;
}

/* 単語 */
.word_hard {
    position: absolute;
    height: 70px;
    width: 1306px;
    line-height: 1;
}

/* 枠線 */
.border_wordchoice {
    position: absolute;
    width: 1542px;
    height: 772px;
    top: 167px;
    left: 189px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

/* 画像 */
.image_icon_hard {
    position: absolute;
    height: 116px;
    width: 116px;
    right: 45px;
}

#fire_hard.word_hard {
    top: 67px;
    background-color: palevioletred;
    left: 11px;
}

#img_fire_hard {
    top: 50px;
    right: 45px;
}

#water_hard.word_hard {
    top: 206px;
    background-color: paleturquoise;
    left: 11px;
}

#grass_hard.word_hard {
    top: 345px;
    background-color: palegreen;
    left: 11px;
}

#thunder_hard.word_hard {
    top: 484px;
    background-color: palegoldenrod;
    left: 11px;
}

#ice_hard.word_hard {
    top: 622px;
    background-color: lightcyan;
    left: 11px;
}

