/* 単語選択画面-normal */
* {
    margin: 0;
    padding: 0;
}

/* 画面サイズ */
.display_size {
    position: relative;
    width: 1920px;
    height: 1080px;
}

#wordchoice_Normal.display_size {
    background-color: black;
    display: none;
}

/* 単語を選んでね */
.please_wordchoice {
    position: absolute;
    height: 78px;
    width: 1040px;
    top: 70px;
    left: 440px;
    font-size: 60px;
}

/* 単語 */
.word_normal {
    position: absolute;
    height: 70px;
    width: 574px;
    font-size: 70px;
    line-height: 1;
    color: white;

    animation-name: border_color;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: white 1px;
    border-bottom: solid;

    cursor: pointer;
}

@keyframes border_color {
    0% {
      border-color: black;
    }
    50% {
      border-color: white;
    }
  
  }

/* 枠線 */
.border_wordchoice {
    position: absolute;
    width: 1542px;
    height: 772px;
    top: 167px;
    left: 189px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

#fire_normal.word_normal {
    top: 67px;
    left: 30px;
}

#can_read_japanese_fire_Normal {
    top: 40px;
}

#water_normal.word_normal {
    top: 206px;
    left: 30px;
}

#can_read_japanese_water_Normal {
    top: 170px;
}

#grass_normal.word_normal {
    top: 345px;
    left: 30px;
}

#can_read_japanese_grass_Normal {
    top: 315px;
}

#thunder_normal.word_normal {
    top: 484px;
    left: 30px;
}

#can_read_japanese_thunder_Normal {
    top: 455px;
}

#ice_normal.word_normal {
    top: 622px;
    left: 30px;
}

#can_read_japanese_ice_Normal {
    top: 595px;
}

#wind_normal.word_normal {
    top: 67px;
    right: 190px;
}

#can_read_japanese_wind_Normal {
    top: 40px;
}

#rock_normal.word_normal {
    top: 206px;
    right: 190px;
}

#can_read_japanese_rock_Normal {
    top: 180px;
}

#poison_normal.word_normal {
    top: 345px;
    right: 190px;
}

#can_read_japanese_poison_Normal {
    top: 315px;
}

#light_normal.word_normal {
    top: 484px;
    right: 190px;
}
#can_read_japanese_light_Normal {
    top: 455px;
}

#darkness_normal.word_normal {
    top: 622px;
    right: 190px;
}

#can_read_japanese_darkness_Normal {
    top: 595px;
}